<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.easyui.dao.CpDAO">
    <resultMap id="cpMap" type="Cp">
        <id property="id" column="ID"/>
        <result property="secretKey" column="SECRET_KEY"/>
        <result property="noticeKey" column="NOTICE_KEY"/>
        <result property="createdDate" column="created_date"/>
    </resultMap>
    <select id="getAllCp" resultMap="cpMap">
        SELECT id,NAME,SECRET_KEY ,NOTICE_KEY ,PASSWORD,STATUS,created_date
        FROM cp
        <where>
            <if test="name !=null and name != ''">and name like concat('%',#{name},'%')</if>
        </where>
    </select>


    <select id="getCpById" resultMap="cpMap">
        SELECT id,NAME,SECRET_KEY ,NOTICE_KEY ,PASSWORD,STATUS,created_date
        FROM cp
        WHERE id=#{id}
    </select>

    <update id="updateCpById" parameterType="Cp">
        UPDATE cp
        <set>
            <if test="name != null and name != ''">NAME =#{name},</if>
            <if test="status != null">status = #{status},</if>
            <if test="secretKey != null and secretKey !=''">SECRET_KEY =#{secretKey},</if>
            <if test="noticeKey != null and noticeKey !=''">NOTICE_KEY =#{noticeKey},</if>
            <if test="password != null and password !=''">password =#{password},</if>
            <if test="createdDate != null">created_date = #{createdDate},</if>
        </set>
        WHERE ID = #{id}
    </update>

</mapper>